.chat-layaut
  .chat
    = render partial: "shered/groups"
    .chat-right
      .chat-header
        .chat-header-name
          = @group.name
        .chat-header-member
          Members:
          = render partial: "shered/user", collection: @users
        = link_to edit_group_path(@group), method: :get do
          .chat-header-edit
            %p
              Edit
      .chat-body
        = render partial: "shered/message", collection: @messages
      .chat-footer
        = form_for [@group, @message], { class: 'form js-form' } do |f|
          .chat-footer-body
            = f.text_area :body, placeholder: 'type a text', class: "chat-footer-text"
            %label.chat-footer-image
              = f.file_field :image, class: "file_field"
              %i.fa.fa-image
          = f.submit "Send", data: { disable_with: "送信中..." }, class: "chat-footer-button"
