.chat
  .chat-left
    .chat-user
      %p
        = current_user.name
    .chat-icon
      = link_to new_group_path, method: :get do
        %i{ :class => 'fa fa-pencil-square-o' }
      = link_to edit_user_registration_path(current_user), method: :get do
        %i{ :class => 'fa fa-cog' }
    - @groups.each do |group|
      = link_to group_messages_path(group), method: :get do
        .chat-group
          .chat-group-name
            = group.name
          .chat-group-text
            - if group.messages.present?
              - message = group.messages.last
              = simple_format(message.body)
            - else
              まだメッセージはありません。
  .chat-right
    .chat-header
      .chat-header-name
        = @group.name
      .chat-header-member
        Members:
        - @users.each do |user|
          = user.name
      = link_to edit_group_path(current_user.id), method: :get do
        .chat-header-edit
          Edit
    .chat-body
      - @messages.each do |message|
        .chat-body-name
          = message.user.name
        .chat-body-time
          = message.created_at
        .chat-body-text
          = simple_format(message.body)
    .chat-footer
      = form_for [@group, @message] do |f|
        = f.text_field :body, placeholder: 'type a text', class: "chat-footer-text" do
          %i{ :class => 'fa fa-image'}
        = f.submit "Send", class: "chat-footer-button"
