= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :グループ名, class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: '名前を入力してください', class: "chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバーを追加する, class: "chat-group-form__label"
    .chat-group-form__field--right
      %input.chat-group-form__search{:placeholder => "メンバーを追加してください",:type => "text"}
  #lists
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー, class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__member
        = render partial: "shered/members", collection: @users, locals: { f: f }
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = button_tag type: "submit", class: "chat-group-form__action-btn" do
        save
