= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :グループ名, class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, placeholder: '名前を入力してください', class: "chat-group-form__input"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :チャットメンバー, class: "chat-group-form__label"
    .chat-group-form__field--right
      .chat-group-form__search.clearfix
        = f.collection_check_boxes :user_ids, User.all, :id, :name
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = button_tag type: "submit", class: "chat-group-form__action-btn" do
        save
